name: 'Test'
on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v6'
      - uses: 'JaninaWibker/scripting-action@main'
        with:
          input-encoding: 'string'
          input: 'asdf'
          script: |
            return '123'
